<h1>Topics#show</h1>
<div class="col-md-8">
  <p><%= @topic.title %></p>
  <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %>

  <div>
    <% @bookmarks.each do |bookmark| %>
      <h4><%= bookmark.url %></h4>
    <% end %>
  </div>
</div>
