<div class="jumbotron">
  <h1>blocmarks</h1>
  <h3>Welcome to blocmarks, the best way to share you interweb bookmarks</h3>
  <h4>Please sign in or sign up.</h4>
  <h2>
    <%= link_to "sign in", new_user_session_path %> or
    <%= link_to "sign up", new_user_registration_path, class: 'btn' %>
  </h2>
</div>
